.footer {
    background: $secondary-background-color;
    padding-top: 60px;
    padding-bottom: 60px;
}
.bigfooter {
    display: flex;
    align-items: baseline;
}

.halffooter {
    margin-right: 70px;
}