.netlist {
    display: flex;
    justify-content: flex-start;
    @extend %list;
}
.combo-net {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 250ms $timing-function;
    &:hover,
        &:focus {
        background-color: $accent-color;
        }
}
.accession {
    font-weight: 700;
    line-height: 1.14;
    color: $white-color;
    margin-bottom: 20px;
}
.netlisticon {
    fill: $white-color;
}

