.modal {
    width: 528px;
    height: 581px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    transition: transform 250ms $timing-function;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 40px;
    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0.9);
        }
}
.closer {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color 250ms $timing-function;
    &:hover {
            color: $accent-color;
        }
}
.onoff {
    fill: currentColor
}
.data {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: $title-text-color;
    margin-bottom: 12px;
}
.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
    position: relative;
    & label {
            margin-bottom: 4px;
        }
}
.form-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    & label {
            margin-bottom: 4px;
        }

}

.form-frame {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 42px;
    outline: transparent;
    transition: border 250ms $timing-function;
    &:focus {
    border: 1px solid $accent-color;
    }
    }
.form-bigframe {
    width: 448px;
    border-radius: 4px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4pxa;
    outline: transparent;
    resize: none;
    transition: border 250ms $timing-function;
    &:focus {
            border: 1px solid $accent-color;
        }
}
.mini {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms $timing-function;
    .form-frame:focus + & {
            fill: $accent-color;
        }
}
.submit {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    min-width: 200px;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 28px;
    display: flex;
    align-items: center;
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.post {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.table {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.treaty {
    color: $accent-color;
}
.policy {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.option {
    display: block;
    margin-bottom: 0.5em;
    position: relative;
}

.check {
    padding-left: 37px;
    margin: 0;
}

.check__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


.check__box {
    position: absolute;
    left: 12px;
    width: 16px;
    height: 15px;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em #4A90E2;
}

/* Checked */

.check__input:checked+.check__box {
    background-color: var(--accent-color);
    background-image: url('../../images/superturbo.svg');
    background-size: contain;
}

/* Focused */

.check__input:focus+.check__box {
    box-shadow:
        0 0 0 0.1em #4A90E2,
        0 0 0 0.2em #7ED321;
}

/* Disabled */

.check__input:disabled+.check__box {
    box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled+.check__box {
    background-color: #9B9B9B;
}