
html {
    box-sizing: border-box;
}
body {
    background-color: $white-color;
    color: $primary-text-color;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}