/* основной цвет текста #757575 */
/* вторичній цвет текста #212121*/
/*  белій #FFFFFF */
/*акцент #2196F3 */
/*цвет ссілок в футере rgba(255, 255, 255, 0.6); */
/* цвет background секции hero и футера #2F303A*/
/* основной цвет background секции #F5F5F5  */
html {
box-sizing: border-box;
}
/* *,
*::before,
*::after {
box-sizing: inherit;
} */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --black-color: #000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #F5F5F5;
  --secondary-background-color: #2F303A;
  --thirdly-background-color: #F5F4FA;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
  padding: 0;  
  margin: 0;  
}
h1 , h2 , h3 , h4 , h5 , h6 , p {
  margin: 0;
}
img { 
  display: block;
  max-width: 100%;
  height: auto;
} 
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
/* .main {
  display: flex;
  align-items: center;
} */
/* стилизация логотипа */
/* .roof-nav ,
.roof-connection {
  display: flex;
  align-items: center;

}
.roof-nav .item:not(:last-child) ,
.roof-connection .item:not(:last-child) {
  margin-right: 50px;
} */
/* .roof-connection {
  margin-left: auto;
  gap: 30px;
} */
/* .flash {
  display: flex; 
}
.small {
  fill: currentColor ;
  margin-right: 10px;
  transition: fill 250ms var(--timing-function);
}
.small:hover {
fill: var(--accent-color);
} */
/* .roof-logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1. 19;
  margin-right: 93px;
}

.roof-multi {
  color: var(--black-color);
} */

/* стилизация nav */
/* .nav-link {
  color: var(--title-text-color);
} */
/* .connection-link {
color: var(--primary-text-color);
}
.nav-link , .connection-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px; 
  transition: color 250ms var(--timing-function);
}

.nav-link:hover,
.nav-link:focus, 
.connection-link:hover,
.connection-link:focus
{
  color: var(--accent-color);
} */
/* .current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  content: '';
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
} */
/*стилизация заглавий вторичнім цветом текста */
/* .sechion-title {
  color: var(--title-text-color);
} */

/* стилизація секции hero */
/* .hero {
  background: var(--secondary-background-color);
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em ;
  text-transform : uppercase ;
  margin: 0 auto 30px auto ; 
  width: 696px;
} */

/* .button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px ;
  min-width: 216px ;
  margin-left: auto;
  margin-right: auto;
  }
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient( 
    to right ,
    rgba(47, 48, 58, 0.4) ,
    rgba(47, 48, 58, 0.4) ) ,
   url(../images/baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
} */
/* .backdrop.is-hidden .modal {
  transform: translate(-50%,-50%) scale(0.9);
}
.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  transform: translate(-50%,-50%) scale(1) ;
  top: 50%;
  left: 50%;
  transition: transform 250ms var(--timing-function);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 40px;
}
.closer {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  color: rgba(0, 0, 0, 1); 
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms var(--timing-function);
}
.closer:hover {
  color: var(--accent-color);
}
.onoff {
  fill: currentColor
} */

/* .data {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  margin-bottom: 12px;
} */
/* .form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: flex-start;
  position: relative;
} */
/* .form-textarea {
  display: flex;
    flex-direction: column;
  
    align-items: flex-start;
    position: relative;
} */

/* .form-frame {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  outline: transparent;
  transition: border 250ms var(--timing-function);
} */
/* .form-frame:focus ,
.form-bigframe:focus
 {
  border: 1px solid var(--accent-color) 
} */
/* .form-frame:focus + .mini {
fill: var(--accent-color);
} */
/* .form-bigframe {
  width: 448px;
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4pxa;
  outline: transparent;
  resize: none;
  transition: border 250ms var(--timing-function);
} */
/* .form label ,
.form-textarea label 
 {
  margin-bottom: 4px;
} */
/* .policy {
  display: flex ;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
} */
/* .option {
  display:block;
  margin-bottom: 0.5em;
  position: relative;
}

.check {
  padding-left: 37px;
  margin: 0;
}
  
.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.check__box {
  position: absolute;
  left: 12px;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #4A90E2;
}

/* Checked */

/* .check__input:checked+.check__box {
  background-color: var(--accent-color);
  background-image: url('../images/superturbo.svg');
  background-size: contain;
}

/* Focused */

/* .check__input:focus+.check__box {
  box-shadow:
    0 0 0 0.1em #4A90E2,
    0 0 0 0.2em #7ED321;
} */

/* Disabled */

/* .check__input:disabled+.check__box {
  box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled+.check__box {
  background-color: #9B9B9B;
}  */
/* .post {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
} */
/* .treaty {
  color: var(--accent-color);
} */
/* .mini {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--timing-function);
  /* transform: translateY(50%); */
 */
/* .table {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
} */

/* стилизація трьох секцій */
/* .benefits {
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* .advantage {
  display:flex;
} */
/* .balance {
  width: 270px;
} */
/* .icon-help {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--thirdly-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
} */

/* .balance:not(:last-child) {
  margin-right: 30px;
} */
/* .advantage .sechion-title {
  margin-top: 0 ;
  margin-bottom: 10px ;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
} */
/* .idea{
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
} */
/* .activity {
  padding-bottom: 94px;
} */

/* .development  {
  margin-top: 0 ;
  margin-bottom: 50px ;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */
/* .home {
  position: relative;
} */

/* .newtext {
  font-weight: 700;
  line-height: 1.14;
  color: var(--white-color);
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
} */
/* .gadget ,
.group {
 display: flex;
 gap: 30px;
}
 .group .sechion-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
} */
/* .friend {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
} */

/* .name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.speciality {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} */

/* .icon-net {
  fill: currentColor
}

.team {
  background-color: var(--thirdly-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .net {
  display: flex;
  justify-content: center;
} */
/* .social-net {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center; 
  justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition: background-color 250ms var(--timing-function) ,
              color 250ms var(--timing-function);
} */
/* .social-net:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
} */
/* .freedom:not(:last-child) {
  margin-right: 10px;
} */
 /* .clients {
  display:flex;
  gap: 30px; 
} */
/* .hope {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms var(--timing-function) ;
} */
/* .logo {
  fill:currentColor;
  transition: fill 250ms var(--timing-function);
}
.logo:hover {
  fill: var(--accent-color);
} */
/* .hope:hover {
  color: var(--accent-color);
} */
/* .fichion {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* стилизація footer */
/* .footer {
  background: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
} */

/* .footer-logo {
  color: var(--white-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
}
.footer-multi {
  color: var(--accent-color);
} */
/* .contacts-addres {
  color: var(--white-color);
  text-decoration: none;
  line-height: 1.71 ;
  margin-bottom: 9px;
  transition: color 250ms var(--timing-function);
} */

/* .contacts-link {
  color: var(--footer-text-color);
  text-decoration: none;
  line-height: 1.71;
  transition: color 250ms var(--timing-function);
} */

/* .contacts-addres:hover,
.contacts-addres:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
} */
/* .contacts-item {
  margin-bottom: 9px;
} */
/* .contacts-item:last-child {
  margin-bottom: 0;
} */
/* .address {
  font-style: normal ;
  margin-top: 20px;
} */
/* .netlist {
 display: flex;
 justify-content: flex-start;  
} */
/* .combo-net {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color:rgba(255, 255, 255, 0.1); 
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 250ms var(--timing-function);
} */
/* .combo-net:hover ,
.combo-net:focus
 {
  background-color: var(--accent-color)
} */

/* .accession {
  font-weight: 700;
  line-height: 1.14;
  color: var(--white-color);
  margin-bottom: 20px;
} */
/* .bigfooter {
  display: flex;
  align-items: baseline;
}
.halffooter {
  margin-right: 70px;
} */
/* .netlisticon {
  fill: var(--white-color);
} */
/* .submit {  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    min-width: 200px;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 28px;
    display: flex;
    align-items: center;
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
/* .plus {
margin-left: 12px;
}
.plaine {
  margin-left: 10px;
} */
/* .signature {
  display: flex;  
} */
/* .signature input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  color: var(--primary-background-color);
} */
/* .subscription {
  margin-left: auto;
} */
/* стілізація сторінки portofolio */
/* .top {
  border: 1px solid #ECECEC;
} */
/* .filter {
  padding: 94px 0;
} */
/* .products {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} */
/* .part:not(:last-child) {
margin-right: 8px;
} */
/* .new-button {
  color: var(--title-text-color);
  background-color: var(--thirdly-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: color 250ms var(--timing-function) ,
              background-color 250ms var(--timing-function),
              box-shadow 250ms var(--timing-function);
  } */
/* .new-button:hover,
.new-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 
   0px 2px 2px 0px rgba(0, 0, 0, 0.12),
   0px 1px 2px 0px rgba(0, 0, 0, 0.08),
   0px 3px 1px 0px rgba(0, 0, 0, 0.1);
} */
/* .flax {
  display: flex;
  flex-wrap: wrap;
} */

/* .card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
} */
/* .section-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
.aim {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms var(--timing-function);
   } */
 /* .mistral {
  position: relative;
  overflow: hidden;
 }
 .brend {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
 } 
 .nlow { 
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
 } */
 /* .aim:hover .brend ,
 .aim:focus .brend
 {
  transform: translateY(0);
 } */
/* .aim:hover ,
.aim:focus {
 box-shadow:
  1px 4px 6px 0px rgba(0, 0, 0, 0.16),
  0px 4px 4px 0px rgba(0, 0, 0, 0.06),
  0px 1px 1px 0px rgba(0, 0, 0, 0.12);
} */
/* .combo {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
} */
/* .direction {
  margin-right: 30px;
  margin-bottom: 30px;
  
}
.direction:nth-child(3n) {
  margin-right: 0;
}
.direction:nth-last-child(-n+3) {
  margin-bottom: 0;
} */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
